.oe_login_form,
.oe_signup_form,
.oe_reset_password_form {
    max-width: unset !important;
    position: unset !important;
    margin: unset !important;
}


.login {
    .row {

        .login-left-column {
            position: relative;
            background: url(../../img/login-bg.png);
            background-size: cover;
            background-position: 9px -15px;
            background-repeat: no-repeat;

            @media (max-width: 1400px) {
                background-position: -100px -15px;
            }

            @media (max-height: 970px) {
                background-position: -80px -15px;


            }

            @media (max-width: 1200px) {
                background-position: -56px -55px;
                background-size: auto;

            }

            @media(max-width:980px) and (min-width:801px) {
                background-position: -14px -19px
            }

            @media(max-width:800px) and (min-width:730px) {
                background-position: 10px -47px;
            }

            @media(max-width:720px) {

                background-position: -31px -11px;
                background-size: 100% 105%;
            }
            @media (max-width: 576px) {
                background-position: -27px 10px;
            }
            .img-wrap-login {
                display: flex;
                align-items: end;
                justify-content: center;

                .login-img {
                    object-fit: cover;
                    height: auto;
                    width: auto;
                    margin-left: unset;

                }
            }


           
        }

        .login-right-column {
            position: relative;

            .form-wrap {
                margin-top: 50px;
                z-index: 99;
                width: 700px;
                max-width: 100%;
                margin: auto;
                padding: 50px;

                h3 {
                    @media(max-width: 119px) {
                        font-size: 40px;
                    }
                }

                label {
                    font-family: "Poppins";
                    font-size: 21px;
                    font-weight: unset !important;

                    @media(max-width:500px) {
                        font-size: 16px;
                    }
                }

                input.form-control {
                    height: 75px;
                    border-color: #060606;
                }

                .btn {
                    padding: 16px 54px !important;
                }

                @media(max-width:1010px) {
                    margin-top: unset;
                }

                .oe_login_buttons {
                    .btn-primary {

                        // padding: 10px 54px !important;
                        // // font-size: 19px;
                        // border-radius: 0 20px;
                        background: #060606;
                        border-color: #060606;
                        color: #fff;

                        @media(max-width:1025px) {
                            font-size: 22px;
                        }
                    }

                    .btn-link {
                        font-size: 14px;
                    }

                    .o_login_auth {
                        em {
                            font-size: 20px;
                            margin-bottom: 10px !important;
                            font-family: "Poppins" !important;
                        }

                        .o_auth_oauth_providers {
                            padding: 10px 54px !important;
                            font-size: 14px;
                            border-radius: 0 20px;
                            border: solid black;
                            background: white !important;

                            a {
                                width: 100%;
                                border: unset;
                                font-size: 22px;
                                text-align: center;
                            }

                            @media(max-width:500px) {
                                padding: 10px 17px !important;

                                a {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }

            .b-dots-sq {
                background: url(../../img/b-dots-sq.webp);
                background-size: cover;
                position: absolute;
                top: 04px;
                right: 0;
                content: "";
                width: 140px;
                height: 140px;

                @media (max-width: 1400px) {
                    width: 100px;
                    height: 100px;
                }

                @media (max-width: 768px) {
                    width: 60px;
                    height: 60px;
                }
            }

            .login-y-dots {
                background: url(../../img/login-y-dots.png);
                background-size: contain;
                position: absolute;
                bottom: 0;
                right: 10px;
                content: "";
                width: 310px;
                height: 94px;
                background-repeat: no-repeat;
                background-position: bottom;

                @media (max-width: 1400px) {
                    width: 200px;
                }

                @media (max-width: 768px) {
                    width: 100px;
                }
            }
        }

    }



    @media (max-height: 850px) {
        // h3 {
        //     font-size: 24px;
        // }

        p {
            font-size: 12px;
            line-height: 14px;
        }

        .form-outline {
            margin-bottom: 10px !important;
        }

        label.form-label {
            font-size: 12px;
        }

        input.form-control {
            height: 50px;
            border-color: #060606;
            margin-bottom: 0px;
            font-size: 12px;
        }

        .btn {
            padding: 10px 54px !important;
            font-size: 14px;
            border-radius: 0 20px;
        }

        label.form-check-label.checkcontainer {
            font-size: 15px;
        }

        a.text-dark.fw-b {
            font-size: 12px;
        }

        .login-right-column,
        .login-left-column {
            min-height: 768px !important;
        }





        input#remember {
            width: 25px;
            height: 25px;
        }
    }

    @media (max-width: 991px) {

        .login-right-column,
        .login-left-column {
            min-height: auto !important;
            height: auto !important;
        }

        // .login-left-column .login-img {
        //     height: auto;
        //     max-height: 40vh;
        // }

        .form-wrap {
            padding: 10px;
        }
    }

    @media (min-width:1000px) and(max-width:1200px) {
        .login-left-column {

            .img-wrap-login {
                .login-img {
                    height: 80%;
                    object-fit: fill;
                }
            }

            padding-left: 2rem !important;
            padding-right: 2rem !important;
        }



        .login-right-column {
            .form-wrap {
                margin-top: unset;
                padding: 20px;
            }
        }
    }
}
