.manufactures {
    background: #635147;
    padding: 80px 0 187px;
    border-radius: 0 0 0 83px;
    z-index: 0;
    position: relative;
    .container{
        position: unset !important;
    }

    @media (max-width:1200px) {
        padding: 60px 0 170px;
    }

    &::before {
        background: inherit;
        content: "";
        width: 100%;
        height: 101px;
        position: absolute;
        top: -100px;
        z-index: -2;
    }

    .curvy-line {
        background: url(../../img/curvy-line3.svg);
        background-repeat: no-repeat;
        position: absolute;
        bottom: -32px;
        right: 0;
        width: 400px;
        height: 297px;
        z-index: 1;
    }

    .image-2 {
        width: 490px;
        max-width: 100%;

        // margin-left: 20px;
        @media (max-width: 1199px) {
            max-width: 300px;
            margin-left: 0;
        }
    }
}