/* add product variant style in backend view */
.js_add_cart_variants
	{
        clear: both;
        margin-top: 8px;
        margin-bottom: 0px;
        padding-left: 15px;
		.variant_attribute {
            strong {
		      font-weight: 400;
		      text-transform: capitalize;
		      &:after {
                border-bottom: 0px;
		      }
		    }
			select, .custom_value_own_line, .custom_value_radio {
				width: 170px;
				overflow: hidden;
				text-overflow: ellipsis;
				padding: 6px;
                height: auto;
                margin-bottom: 0;
			}
			.custom_value_radio {
				margin: 0.3rem 0;
			}
			.te-radio-list {
			    .te-radio-name {
			        cursor: pointer;
                    border: 1px solid rgba(33, 37, 41, 0.7);
                    color: rgba(33, 37, 41, 0.7); /* this it text-muted static class color */
                    padding: 0.2rem 0.5rem;
                    margin-right: 0.5rem;
                    font-weight: normal;
                    border-radius:2px;
			    }
			}
		}
		.col-form-label
		{
			padding:0;
            vertical-align: top;
            margin-bottom: 8px;
            font-size:0.875rem;
			span {
				font-weight:normal;
			}
			span.variant_price_extra{
			   vertical-align: unset;
			}
			span.badge.badge-pill.badge-secondary {
                position: relative;
                top: -0.5px;
            }
			.radio_input {
				cursor: pointer;
				width: 15px;
			}
			.radio_input:checked {
			    cursor: not-allowed;
				~ .te-radio-name {
                    cursor: not-allowed;
                    color: #ffffff;
                    background-color: theme-color('primary');
                    border : 1px solid theme-color('primary');
                }
			}
			.radio_input_value {
			    display: inline-block;
			}
		}
		.list-inline-item:not(.o_variant_pills) {
            display: inline-block;
            margin-right: 1rem;
            margin-bottom: 8px;
            padding: 2px;
            border-radius: 50%;
            height: 32px;
            width: 32px;
            text-align: center;
            line-height: 1;
            vertical-align: middle;
            &.active_li {
                border: 2px solid theme-color('primary');
            }
            &.large_item {
                height: 48px;
                width: 48px;
                .css_attribute_color {
                    width: 50px;
                    height: 50px;
                    line-height: 55px;
                }
            }
            .css_attribute_color
            {
                width: 26px;
                height: 26px;
                cursor: pointer;
                margin-bottom: 0;
                border-radius: 50%;
                vertical-align: unset;
                line-height: 24px;
                background-size: cover !important;
                background-position: center !important;
                background-repeat: no-repeat !important;
                position:relative;
                input {
                    height:0;
                }
                &.active input {
                    cursor: not-allowed;
                }
            }
		}
		.list-inline-item.te_style_square{
		    border-radius: 0px;
		    & label{
		        border-radius: 0px;
		    }
		    .css_attribute_color{
		        border-radius: unset;
                &:before {
                    border-radius: unset;
                    box-shadow: none;
                }
		    }
		}
		.badge.badge-pill {
			  color: #555;
			  font-weight: normal;
			  font-size: 85%;
              background: #ddd;
              display: inline;
              vertical-align: initial;
		}
		>li {
			margin-bottom:-2px;
		}
		>li:last-child {
			margin-bottom:0;
		}
}