/*
---------------------------------- 
QR Code Widget
---------------------------------- 
*/

.o_field_many2one .o_input.rt_widget_field_many2one_qr_cam_bg_success {
    color: #fff !important;
    background-color: #198754 !important;
}



.o_field_many2one .o_input.rt_widget_field_many2one_qr_cam_bg_danger {
    color: #fff !important;
	background-color: #dc3545!important;
}

