$primary: #749551;
$secondary: #83754D;
$color_2: #000;
$color_3: #fff;
$font-family_1: 'Poppins', sans-serif;

//***Font weight and size Mixins
$font-weight: (
    el:200,
    l: 300,
    m:500,
    sb:600,
    b:700
);

@each $key,
$val in $font-weight {
    .fw-#{$key} {
        font-weight: #{$val};
    }
}

//Eg: fw-el

@each $font-size in (12, 14, 16, 18, 20, 22, 23, 24, 26, 28, 31, 36, 40, 46, 50) {
    .fs-#{$font-size} {
        font-size: #{$font-size}px;
    }
}

//Eg: fs-12

@each $br in (2, 4, 6, 8, 10, 15, 25, 30, 35, 40, 45, 50, 60, 80, 100) {
    .br-#{$br} {
        border-radius: #{$br}px;
    }
}

@each $br in (2, 4, 6, 8, 10, 15, 25, 30, 35, 40, 45, 50, 60, 80, 100) {
    .br-#{$br} {
        border-radius: #{$br}px;
    }
}


body {
    font-family: $font-family_1;

}

p {
    font-size: 21px;
    line-height: 48px;
    margin-bottom: 15px;
    // font-weight: 300;
}


.btn {
    font-size: 27px;
    padding: 20px 54px;
    border-radius: 0 38px 0 38px;
    outline: none;

    &:focus {
        box-shadow: none;
    }

}

.btn-outline-black {
    padding: 20px 54px;
    border: 3px solid;
    border-radius: 0 38px 0 38px;
    background: $primary;

    &:hover {
        background: #060606;
        border-color: #060606;
        color: #fff;
    }

    @media (max-width: 1700px) {
        padding: 15px 30px;
        border: 2px solid;
        border-radius: 0 30px 0 30px;
    }
}

.btn-outline-white {
    padding: 20px 54px;
    border: 3px solid #fff;
    border-radius: 0 38px 0 38px;
    color: #fff;

    &:hover {
        background: $primary;
        border-color: #060606;
        color: #060606;
    }
}

.btn-primary {
    background: $primary;
    border-color: $primary;
    color: #060606;

    &:hover {
        background: #060606;
        border-color: #060606;
        color: #fff;
    }
}

.btn-white {
    background: #fff;
}

.btn-black {
    background: #060606;
    border-color: #060606;
    color: #fff;

    &:hover {
        background: $primary;
        border-color: #060606;
        color: #060606;
    }
}

.text-primary {
    color: $primary !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.list-style-1 {
    list-style: none;
    padding-left: 40px;

    li {
        margin-bottom: 20px;
        font-size: 21px;
        position: relative;
        line-height: 2;

        &:after {
            content: "";
            background-color: #749551;
            width: 20px;
            height: 20px;
            position: absolute;
            left: -40px;
            top: 8px;
            border-radius: 0px 100px 0px 0px;
        }

        @media (max-width: 1700px) {
            font-size: 16px;

            &:after {
                width: 16px;
                height: 16px;
            }
        }
    }
}

.cover-container {
    background-color: $primary;
    width: 100%;
}

.display-6 {
    font-size: calc(1.375rem + 1.5vw);
    // font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 1200px) {
    .display-6 {
        font-size: 2.5rem;
    }
}

@media (max-width: 1700px) {

    .logo {
        width: 190px;
    }

    p {
        font-size: 16px;
        line-height: 35px;
    }

    .btn {
        font-size: 22px;
        padding: 12px 30px;
        border-radius: 0 25px 0 25px;
        border-width: 2px;
    }

    nav.navbar {
        padding-top: 30px;
    }

    .navbar-nav {
        li.nav-item {
            padding: 10px 4px;

            a.nav-link {
                font-size: 16px;

                &.btn.btn-black {
                    padding: 13px 29px;
                    height: 50px;
                }
            }
        }

        .btn-search {
            width: 50px;
            height: 50px;
            border-radius: 0 20px 0 20px;
            padding: 12px 0;
            margin: auto;

            img {
                width: 22px;
            }
        }

    }

    .cover-container {

        .home-banner {
            h1 {
                // font-size: 4rem;
                max-width: 770px;
            }
        }
    }

    .success-quality {
        min-height: 500px;

        .display-1 {
            font-size: 4rem;
        }
    }

    .good-fit {
        .curvy-line {
            width: 461px;
            height: 164px;
            transform: rotate(-39deg) translate(-124px, 0px);
            background-size: contain;
            background-repeat: no-repeat;

            .b-dots {
                background: url("../../img/black-dots.svg");
                position: absolute;
                top: -180px;
                left: -184px;
                width: 385px;
                height: 337px;
                z-index: 0;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }

    .your-product {
        padding: 100px 0 !important;

        .sector-1 {
            left: 38% !important;
            max-width: 120px !important;
            max-height: 120px !important;
        }
    }

    .price-paper {
        padding: 100px 0;

        ul li {
            font-size: 16px;

            &::after {
                width: 16px;
                height: 16px;
            }
        }
    }

    .home-contact-us {
        .home-contact-form {
            padding: 50px 40px;

            label.form-label {
                font-size: 16px;
            }

            input.form-control {
                border-radius: 10px;
                height: 60px;
                margin-bottom: 14px;
            }
        }

        .address {
            width: 375px;
            height: 200px;
        }

        .numbers {
            padding: 36px;
            margin-left: auto;
            transform: none;
        }
    }

    label.form-label {
        font-size: 16px;
    }

    input.form-control {
        border-radius: 10px;
        height: 60px;
        margin-bottom: 10px;
    }

    .footer {
        h5 {
            font-size: 1.25rem;
        }

        .nav li {
            font-size: 16px;

            &:after {
                width: 16px;
                height: 16px;
                left: 0px;
                top: 2px;
            }
        }

    }
}

@media (max-width: 1200px) {
    .btn {
        font-size: 16px;
    }

    section.home-banner {
        min-height: 768px;
        background-position: left bottom;
    }

    .success-quality .display-2 {
        font-size: calc(1.525rem + 3.3vw);
    }

    .price-paper .y-dots,
    .footer .curvy-line {
        display: none;
    }
}

@media (max-width: 992px) {
    section.home-banner {
        min-height: 616px;
        background-position: left bottom;
        background-size: 611px;
        background-repeat: no-repeat;

        h1 {
            margin-top: 60px;
        }
    }

    .good-fit .sector-2 {

        top: 14%;
        left: 27%;
    }

    .price-paper {
        padding: 60px 0;

        ul {
            grid-template-columns: 1fr;
        }

        .image-2 {
            position: static;
            height: 300px;
        }

        .curvy-line-yellow {
            display: none;
        }
    }

    .your-product .curvy-line,
    .your-product .sector-1,
    .home-contact-us .b-dots,
    .home-contact-us .sector-1,
    .home-contact-us .sector-2,
    .home-contact-us .address::before,
    .good-fit .b-dots.b-dots-2,
    .good-fit .curvy-line,
    section.home-banner::after {
        display: none;
    }

    .your-product,
    .manufactures {
        padding: 60px 0;

        .image-2 {
            margin: 15px 0;
            max-height: 600px;
        }
    }

    .good-fit .image-1 {
        max-height: 600px;
    }

    .manufactures .curvy-line {
        display: none;
    }

    .home-contact-form {
        background: #fff;
        padding: 20px 20px;
        border-radius: 0 30px 0 30px;
        position: relative;
    }

    .home-contact-us {
        padding-top: 60px;

        .address {
            margin-top: 0;
        }

        .contact-footer::after {
            width: 42vw;
            min-width: 322px;
        }
    }

    .search-wrapper {
        margin-top: 15px !important;
    }

}

@media (max-width: 767px) {
    p {
        font-size: 15px;
        line-height: 30px;
    }

    section.home-banner {
        min-height: 560px;
    }

    .sq-wrapper .b-dots {
        bottom: -60px;
        left: 0;
        width: 148px;
        height: 120px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .sq-wrapper .success-quality .y-dots {
        top: -290px;
    }

    .good-fit .sector-2 {
        top: 9%;
        left: 20%;
    }

    .footer {
        text-align: center;

        .nav li {
            padding-left: 0;

            &:after {
                display: none;
            }
        }

        .sector-1,
        .curvy-line {
            display: none;
        }

        .social-icons {
            justify-content: center;
        }
    }

    .search-wrapper.show .inner-form {
        width: 280px;

        .input-field.first-wrap {
            padding: 10px;

            .svg-wrapper {
                display: none;
            }
        }

        .input-field.second-wrap {
            min-width: 106px;
        }

        .input-field {
            input {
                font-size: 12px;
            }
        }
    }

    .home-contact-us .address {
        width: 325px;
        height: auto;
        padding: 40px;
    }

    .home-contact-us .numbers {
        width: 260px;
        height: auto;
        padding: 40px;
    }

    .manufactures .image-2 {
        max-width: 100%;
    }
}

.ppt-container {
    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1200px;
    }

    @media (min-width: 1700px) {
        max-width: 1700px;
    }
}

