@mixin wsale-break-table-to-list-custome($td-size) {

    .o_wsale_products_grid_table_wrapper>table,
    .o_wsale_products_grid_table_wrapper>table>tbody {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .o_wsale_products_grid_table_wrapper>table>tbody>tr {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
    }

    .o_wsale_products_grid_table_wrapper>table>tbody>tr>td {
        display: block;
        width: $td-size;
    }
}

section.shop-banner {
    // background: url(../img/white-dots.png);
    background-size: cover;
    background: #749551;
    background-position: 338px 0px;
    position: relative;
    overflow: hidden;
    width: auto;
    background-size: 300px;
    background-repeat: no-repeat;

    img {
        z-index: 9;
        position: relative;
    }

    &::after {
        background: url("../img/black-dots.webp");
        content: "";
        position: absolute;
        height: 438px;
        width: 30vw;
        top: 50px;
        right: -24%;
        opacity: .8;
        background-size: contain;
        background-repeat: no-repeat;

        @media (min-width: 1700px) {
            right: -25%;
        }
    }

    h1 {
        // font-size: 36px !important;
        margin: 0 0 70px;
        color: #FFF;

        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        // line-height: 105px;
        /* 175% */
        letter-spacing: -0.12px;


        @media (min-width: 1700px) {
            // margin-left: -80px;
            margin-top: 70px;
            max-width: 854px;
            font-size: 60px !important;
            line-height: 1.5;
        }

        @media (min-width: 1200px)and (max-width:1699px) {
            margin-top: 50px;
            font-size: 50px !important;
            // margin-left: -60px;
        }



        @media (max-width: 1100px) {
            margin-top: 60px;
            font-size: 44px !important;
        }
    }
}

.o_wsale_products_main_row {
    #products_grid {
        @media (min-width:1101px) {
            @include wsale-break-table-to-list-custome(25%);

            .table .o_wsale_product_grid_wrapper {
                padding-top: 100% !important;
            }
        }

        @media(max-width:1100px) {
            @include wsale-break-table-to-list-custome(33%);

            .table .o_wsale_product_grid_wrapper {
                padding-top: 100% !important;
            }
        }

        @media(max-width:1000px) {
            @include wsale-break-table-to-list-custome(50%);

            .table .o_wsale_product_grid_wrapper {
                padding-top: 100% !important;
            }
        }

        @media(max-width:530px) {
            @include wsale-break-table-to-list-custome(100%);

            .table .o_wsale_product_grid_wrapper {
                padding-top: 100% !important;
            }
        }

        .products_header {
            padding-left: 20px;
            padding-right: 20px;
            justify-content: space-between !important;

            @media(max-width:576px) {
                justify-content: center !important;
            }

            .product_count {
                text-align: center;
                margin-bottom: 10px;

                .count {
                    color: #749551;
                    font-family: $font-family_1;
                    font-size: 35px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 78px;
                    /* 156% */
                }

                .content {
                    color: #060606;
                    font-family: $font-family_1;
                    font-size: 35px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 78px;
                }

                @media(max-width:576px) {

                    .count,
                    .content {
                        line-height: unset;
                        font-size: 25px;
                    }
                }

                @media(max-width:430px) {

                    .count,
                    .content {
                        font-size: 20px;
                    }
                }
            }

            .o_searchbar_form {
                display: none !important;
            }

            .dropdown_sorty_by {
                font-family: $font-family_1;
                border-radius: 20px;
                border: 2px solid #000;
                background: #FFF;
                width: 330px;
                padding-left: 28px;
                padding-right: 28px;
                padding-bottom: unset !important;
                display: flex;
                align-items: center;
                justify-content: space-around;

                span.text-muted {
                    color: #000 !important;
                    opacity: 0.47;
                    font-size: 23px;
                    font-style: normal !important;
                    font-weight: 500 !important;
                    line-height: 33px;

                    letter-spacing: 0.046px;
                }

                a {
                    color: #000 !important;


                    font-size: 23px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 33px;
                    /* 143.478% */
                    letter-spacing: 0.046px;
                }
            }
        }

        .o_wsale_products_grid_table_wrapper {
            .oe_product {
                padding: 20px !important;

                .o_wsale_product_grid_wrapper {
                    height: 440px !important;

                    @media(max-width:1100px) {
                        table.table {
                            width: 100%;
                            display: block;

                            tbody {
                                width: 100%;
                                display: block;

                                tr {
                                    display: flex;
                                    width: 100%;
                                    flex-wrap: wrap;
                                    align-items: center;

                                    td {
                                        width: 33%;
                                        display: block;
                                    }
                                }
                            }
                        }
                    }

                    .oe_product_cart {
                        border-radius: 30px !important;
                        border: 3px solid #749551 !important;
                        height: 440px !important;
                        padding: 36px !important;

                        &:hover {
                            background-color: $primary !important;

                            .oe_product_image {
                                background-color: $primary !important;
                            }

                            .o_wsale_product_information_text {
                                background-color: $primary !important;

                                .o_wsale_products_item_title {
                                    a {
                                        color: white !important;
                                    }
                                }
                            }
                        }

                        .oe_product_image {
                            flex: unset !important;
                            height: fit-content;

                            a {
                                height: unset !important;

                                span {
                                    height: unset !important;

                                    img {
                                        height: 200px !important;
                                        width: auto !important;
                                        border-radius: 20px;
                                        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
                                    }
                                }
                            }

                            // &:hover {
                            //     background-color: $primary !important;
                            // }
                        }
                    }

                    .o_wsale_product_information {
                        margin-top: 10px;

                        .o_wsale_product_information_text {
                            color: #000;
                            font-family: $font-family_1;
                            font-size: 23px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 33px;
                            /* 143.478% */
                            letter-spacing: 0.046px;

                            .product_price {
                                display: none !important;
                            }

                            .o_wsale_products_item_title {
                                a {
                                    color: black !important;
                                }
                            }
                        }

                        .btn-danger {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.paper_container {
    background-color: black !important;
    height: 700px;
    padding: 50px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 100px;
    position: relative;

    .scroll_div {
        position: absolute;
        z-index: 9;
        right: 117px;

        .left_scrol {
            background: $primary;
            border-color: $primary;
            border: unset;
            
            padding: 20px;
            border-radius: 0 25px 0 25px;
            color: #fff;

            // &:hover {
            //     // background: #060606;
            //     border-color: #060606;
            // }
        }

    }

    display: flex;
    flex-direction: column;
    justify-content: center;



    .carousel-item {
        padding-left: 20px;
        padding-right: 10px;

      

        .row {
            flex-wrap: nowrap;
            overflow-x: scroll;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                width: 9px;
                height: 5px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            .col-0 {
                width: 25%;
                padding-right: 80px;
                @media(max-width:1700px){
                    width: 33.33%;
                }
                @media(max-width: 1000px){
                    width: 50%;
                }
                @media(max-width: 700px){
                    width: 100%;
                }

                // &:first{
                //     padding-left: 0  !important;
                // }
            }
        }
    }

    .product_top {
        margin-bottom: 20px;
        color: #FFF;
        z-index: 9;
        font-family: $font-family_1;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    // &::before {
    //     background: url("../img/yellow-dots.svg");
    //     position: absolute;
    //     top: -78px;
    //     left: 6%;
    //     max-width: 442px;
    //     max-height: 337px;
    //     z-index: 0;
    //     width: 18vw;
    //     height: 18vw;
    //     background-size: contain;
    //     background-repeat: no-repeat;

    //     @media (max-width: 768px) {
    //         display: none;
    //     }
    // }

    .o_carousel_product_card {
        height: 500px;
        border-radius: 30px;
        padding: 3rem !important;
        @media(max-width:1200px){
            height: 450px;          
        }

        // @media (min-width:1010px) {
        //     width: 300px !important;

        // }

        &:hover {
            background-color: $primary !important;

            .o_carousel_product_card_body {
                .card-title {
                    color: white !important;
                }
            }

        }

        .o_carousel_product_img_link {
            text-align: center;

            img {
                height: 200px !important;
                object-fit: scale-down;
                border-radius: 20px;
                background: url(<path-to-image>), lightgray 50% / cover no-repeat;
            }
        }

        .o_carousel_product_card_body {
            .mt-2 {
                display: none !important;
            }

            .o_carousel_product_img_link {
                margin-top: 10px;

                .card-title {
                    margin-top: 15px;
                    color: #000;
                    font-family: $font-family_1;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    // line-height: 33px;
                    /* 143.478% */
                    letter-spacing: 0.046px;
                }
            }
        }

    }
}
