@mixin wsale-break-table-to-list-custome($td-size) {

    .o_wsale_products_grid_table_wrapper>table,
    .o_wsale_products_grid_table_wrapper>table>tbody {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .o_wsale_products_grid_table_wrapper>table>tbody>tr {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
    }

    .o_wsale_products_grid_table_wrapper>table>tbody>tr>td {
        display: block;
        width: $td-size;
    }
}

section.shop-banner {
    // background: url(../img/white-dots.png);
    background-size: cover;
    background: #749551;
    background-position: 338px 0px;
    position: relative;
    overflow: hidden;
    width: auto;
    background-size: 300px;
    background-repeat: no-repeat;

    img {
        z-index: 9;
        position: relative;
    }

    &::after {
        background: url("../img/black-dots.webp");
        content: "";
        position: absolute;
        height: 438px;
        width: 30vw;
        top: 50px;
        right: -24%;
        opacity: .8;
        background-size: contain;
        background-repeat: no-repeat;

        @media (min-width: 1700px) {
            right: -25%;
        }
    }

    h1 {
        // font-size: 36px !important;
        margin: 0 0 70px;
        color: #FFF;

        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        // line-height: 105px;
        /* 175% */
        letter-spacing: -0.12px;


        @media (min-width: 1700px) {
            // margin-left: -80px;
            margin-top: 70px;
            max-width: 854px;
            font-size: 60px !important;
            line-height: 1.5;
        }

        @media (min-width: 1200px)and (max-width:1699px) {
            margin-top: 50px;
            font-size: 50px !important;
            // margin-left: -60px;
        }



        @media (max-width: 1100px) {
            margin-top: 60px;
            font-size: 44px !important;
        }
    }
}

.o_wsale_products_main_row {
    #products_grid {
        @media (min-width:1101px) {
            @include wsale-break-table-to-list-custome(25%);

            .table .o_wsale_product_grid_wrapper {
                padding-top: 100% !important;
            }
        }

        @media(max-width:1100px) {
            @include wsale-break-table-to-list-custome(33%);

            .table .o_wsale_product_grid_wrapper {
                padding-top: 100% !important;
            }
        }

        @media(max-width:1000px) {
            @include wsale-break-table-to-list-custome(50%);

            .table .o_wsale_product_grid_wrapper {
                padding-top: 100% !important;
            }
        }

        @media(max-width:530px) {
            @include wsale-break-table-to-list-custome(100%);

            .table .o_wsale_product_grid_wrapper {
                padding-top: 100% !important;
            }
        }

        .products_header {
            padding-left: 20px;
            padding-right: 20px;
            justify-content: space-between !important;

            @media(max-width:576px) {
                justify-content: center !important;
            }

            .product_count {
                text-align: center;
                margin-bottom: 10px;

                .count {
                    color: #749551;
                    font-family: $font-family_1;
                    font-size: 35px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 78px;
                    /* 156% */
                }

                .content {
                    color: #060606;
                    font-family: $font-family_1;
                    font-size: 35px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 78px;
                }

                @media(max-width:576px) {

                    .count,
                    .content {
                        line-height: unset;
                        font-size: 25px;
                    }
                }

                @media(max-width:430px) {

                    .count,
                    .content {
                        font-size: 20px;
                    }
                }
            }

            .o_searchbar_form {
                display: none !important;
            }

            .dropdown_sorty_by {
                font-family: $font-family_1;
                border-radius: 20px;
                border: 2px solid #000;
                background: #FFF;
                width: 330px;
                padding-left: 28px;
                padding-right: 28px;
                padding-bottom: unset !important;
                display: flex;
                align-items: center;
                justify-content: space-around;

                span.text-muted {
                    color: #000 !important;
                    opacity: 0.47;
                    font-size: 23px;
                    font-style: normal !important;
                    font-weight: 500 !important;
                    line-height: 33px;

                    letter-spacing: 0.046px;
                }

                a {
                    color: #000 !important;


                    font-size: 23px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 33px;
                    /* 143.478% */
                    letter-spacing: 0.046px;
                }
            }
        }

        .o_wsale_products_grid_table_wrapper {
            .oe_product {
                padding: 20px !important;

                .o_wsale_product_grid_wrapper {
                    height: 440px !important;

                    @media(max-width:1100px) {
                        table.table {
                            width: 100%;
                            display: block;

                            tbody {
                                width: 100%;
                                display: block;

                                tr {
                                    display: flex;
                                    width: 100%;
                                    flex-wrap: wrap;
                                    align-items: center;

                                    td {
                                        width: 33%;
                                        display: block;
                                    }
                                }
                            }
                        }
                    }

                    .oe_product_cart {
                        border-radius: 30px !important;
                        border: 3px solid #749551 !important;
                        height: 440px !important;
                        padding: 36px !important;

                        &:hover {
                            background-color: $primary !important;

                            .oe_product_image {
                                background-color: $primary !important;
                            }

                            .o_wsale_product_information_text {
                                background-color: $primary !important;

                                .o_wsale_products_item_title {
                                    a {
                                        color: white !important;
                                    }
                                }
                            }
                        }

                        .oe_product_image {
                            flex: unset !important;
                            height: fit-content;

                            a {
                                height: unset !important;

                                span {
                                    height: unset !important;

                                    img {
                                        height: 200px !important;
                                        width: auto !important;
                                        border-radius: 20px;
                                        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
                                    }
                                }
                            }

                            // &:hover {
                            //     background-color: $primary !important;
                            // }
                        }
                    }

                    .o_wsale_product_information {
                        margin-top: 10px;

                        .o_wsale_product_information_text {
                            color: #000;
                            font-family: $font-family_1;
                            font-size: 23px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 33px;
                            /* 143.478% */
                            letter-spacing: 0.046px;

                            .product_price {
                                display: none !important;
                            }

                            .o_wsale_products_item_title {
                                a {
                                    color: black !important;
                                }
                            }
                        }

                        .btn-danger {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.paper_container {
    background-color: black !important;
    // height: 550px;
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
    position: relative;

    @media(max-width:1200px) {
        padding: 30px;
        padding-left: 50px;
    }

    .scroll_div {
        position: absolute;
        z-index: 9;
        right: 80px;
        @media (max-width:1200px) {
            right: 50px;
            
        }
        @media(max-width:1000px) {
            right: 10px;
        }
        @media(max-width:450px) {
            right: 10px;
        }
        .left_scrol {
            background: $primary;
            border-color: $primary;
            border: unset;

            padding: 20px;
            border-radius: 0 25px 0 25px;
            color: #fff;

        }

    }

    display: flex;
    flex-direction: column;
    justify-content: center;



    .carousel-item {
        padding-left: 20px;
        padding-right: 10px;



        .row {
            flex-wrap: nowrap;
            overflow-x: scroll;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                width: 9px;
                height: 5px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            .col-0 {
                width: 16.66%;
                padding-right: 40px;

                @media(max-width:1700px) {
                    width: 20%;
                }

                @media(max-width:1200px) {
                    width: 25%;
                    padding-right: 40px;
                }

                @media(max-width: 1000px) {
                    width: 33.33%;
                    padding-right: 30px;
                }

                @media(max-width: 700px) {
                    width: 33.33%;
                    padding-right: 20px;
                }
                @media(max-width:600px) {
                    width: 50%;
                    padding-right: 10px;
                }


                @media(max-width:450px) {
                    width: 100%;
                    // padding-right: 10px;
                }


                .o_carousel_product_card {
                    height: 350px;
                    border-radius: 30px;
                    padding: 2rem !important;

                    @media(max-width:1500px) {
                        height: 250px;

                    }

                    @media(max-width:1200px) {
                        height: 300px;
                    }



                    &:hover {
                        background-color: $primary !important;

                        .o_carousel_product_card_body {
                            .card-title {
                                color: white !important;
                            }
                        }

                    }

                    .o_carousel_product_img_link {
                        text-align: center;
                        height: 50%;

                        img {
                            height: 150px !important;

                            @media(max-width:1500px) {
                                height: 100px !important;
                            }

                            object-fit: scale-down;
                            border-radius: 20px;
                            background: url(<path-to-image>),
                            lightgray 50% / cover no-repeat;
                        }
                    }

                    .o_carousel_product_card_body {
                        height: 50%;
                        overflow: hidden;
                        .mt-2 {
                            display: none !important;
                        }

                        .o_carousel_product_img_link {
                            margin-top: 10px;

                            .card-title {
                                margin-top: 15px;
                                color: #000;
                                font-family: $font-family_1;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                letter-spacing: 0.046px;
                                @media(max-width:1200px){
                                    font-size: 14px;
                                }
                            }
                        }
                    }

                }


            }
        }
    }

    .product_top {
        margin-bottom: 20px;
        color: #FFF;
        z-index: 9;
        font-family: $font-family_1;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        @media(max-width:500px) {
            font-size: 25px;
        }
    }



}


.paper_cart {
    .container-fluid {
        padding-top: unset !important;
    }

    .progress_cart {
        position: relative;

        .row {
            background-color: #749551;
            height: 300px;
            align-items: center;

            // justify-self: start;
            .col-xl {
                margin-left: 50px;
                margin-right: 50px;
                background-color: white;
                border-radius: 20px;
                height: 112px;
                justify-content: center;
                align-items: center;
                display: flex;
                width: 100%;

                .wizard {
                    width: 100%;
                    font-family: $font-family_1;
                }


            }
        }

        .white-dots {
            background: url(../img/white-dots.png);
            position: absolute;
            top: 2px;
            left: 16%;
            max-width: 384px;
            height: 324px;
            z-index: 3;
            width: 26vw;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center bottom;

            @media(max-width:1200px) {
                top: -38px;
            }

            @media (max-width:1024px) {
                top: -81px;
                left: 12%;

            }


            @media (max-width:900px) {
                top: -133px;

            }

            @media(max-width:700px) {
                display: none;
            }
        }
    }

    .oe_cart,
    #o_cart_summary {
        padding-top: 100px;

    }

    .oe_cart {
        padding-left: 70px;
        padding-right: 30px;

        #cart_products {
            border-spacing: 0px 2em;
            border-collapse: separate;

            thead {
                th {
                    border-color: black !important;
                    border-width: 2px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    font-family: $font-family_1;
                    font-weight: 400 !important;
                    font-size: 20px;
                }
            }

            tbody {
                tr {
                    background-color: transparent !important;

                    td {
                        max-height: 127px;
                        min-height: 127px;

                        .css_quantity {
                            border: 2px solid black;
                            width: fit-content;
                            border-radius: 10px;
                        }

                        &:nth-child(1) {
                            display: flex;
                            align-items: center;
                            border-top: 2px solid $primary ;
                            border-bottom: 2px solid $primary;
                            border-left: 2px solid $primary;
                            padding: 20px;
                            border-top-left-radius: 17px;
                            border-bottom-left-radius: 17px;

                            a {
                                margin-left: 10px;
                                color: black !important;

                                @media (max-width:440px) {
                                    font-size: 12px !important;

                                }
                            }
                        }

                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4) {
                            border-top: 2px solid $primary ;
                            border-bottom: 2px solid $primary;
                            padding: 20px;
                        }

                        &:nth-child(5) {
                            border-top: 2px solid $primary ;
                            border-bottom: 2px solid $primary;
                            border-right: 2px solid $primary;
                            padding: 20px;
                            border-top-right-radius: 17px;
                            border-bottom-right-radius: 17px;
                            vertical-align: middle;
                        }

                        &.td-qty {

                            .input-group-prepend,
                            .input-group-append,
                            .js_quantity {
                                height: 50px;
                                border: unset !important;
                            }

                            .input-group-prepend,
                            .input-group-append {
                                .btn {

                                    border-radius: 8px;
                                    background-color: black;
                                    color: white;
                                }



                            }
                        }
                    }
                }
            }
        }
    }

    #o_cart_summary {
        padding-right: 70px;
        padding-left: 30px;

        .js_cart_summary {
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 150px;
            border-top-left-radius: 0px;
            border-top-right-radius: 62px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 62px;

            background: #f1f9ff;

            .card-body {
                background: transparent !important;
            }
        }

    }
}