form[name='coupon_code']{
    .a-submit{
        display: flex;
        align-items: center;
    }
}
.paper_cart {
    .container-fluid {
        padding-top: unset !important;
    }

    .progress_cart {
        position: relative;

        .row {
            background-color: #749551;
            height: 300px;
            align-items: center;

            // justify-self: start;
            .col-xl {
                margin-left: 50px;
                margin-right: 50px;
                background-color: white;
                border-radius: 20px;
                height: 112px;
                justify-content: center;
                align-items: center;
                display: flex;
                width: 100%;

                @media (max-width:768px) {
                    margin-bottom: 20px;

                }

                .wizard {
                    width: 100%;
                    font-family: $font-family_1;
                    .progress-wizard {

                        .progress-wizard-step {
                            @media (max-width:500px) {
                                text-align: center;

                            }

                            .progress-wizard-steplabel {

                                @media(max-width:768px) {
                                    font-size: 15px !important;
                                }
                            }
                        }
                    }
                }


            }
        }

        .white-dots {
            background: url(../img/white-dots.png);
            position: absolute;
            top: 2px;
            left: 16%;
            max-width: 384px;
            height: 324px;
            z-index: 3;
            width: 26vw;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center bottom;

            @media(max-width:1200px) {
                top: -38px;
            }

            @media (max-width:1024px) {
                top: -81px;
                left: 12%;

            }


            @media (max-width:900px) {
                top: -133px;

            }

            @media(max-width:700px) {
                display: none;
            }
        }
    }

    .mobile_table {
        display: none;

        @media(max-width:500px) {
            display: table-row-group;
        }

        td {

            border-top-left-radius: 17px;
            border-bottom-left-radius: 17px;
            border-top-right-radius: 17px;
            border-bottom-right-radius: 17px;
            border: 2px solid $primary;
            font-family: $font-family_1;
            font-size: 15px;

            .main_div {

                .name_div {
                    margin-top: 8px;
                    margin-bottom: 10px;
                    display: flex;
                    a{
                        span{
                            margin-right: 5px;
                            img{
                                height: 50px;
                                width: auto;
                                object-fit: cover;
                            }
                        }
                        display: flex;
                        font-size: 12px;
                        justify-content: space-between;
                    }
                    .js_delete_product{
                        right: 2px;
                        top: -15px;
                    }
                }

                .secondary_div {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    .td-price{
                        margin-right: 10px;
                    }

                    .td-qty {
                        margin-right: 10px;
                        .css_quantity{

                            .input-group-prepend,
                            .input-group-append,
                            .js_quantity {
                                height: 30px;
                                border: unset !important;
                                .btn{
    
                                    padding: 0.3em !important;
                                }
                            }
    
                            .input-group-prepend,
                            .input-group-append {
                                .btn {
    
                                    border-radius: 8px;
                                    background-color: black;
                                    color: white;
                                }
    
    
    
                            }
                        }
                    }
                }
            }
        }
    }

    .desktop_cart {
        @media(max-width:500px) {
            display: none !important;
        }
    }

    .oe_cart,
    #o_cart_summary {
        padding-top: 100px;


        // &#o_cart_summary {
            @media(max-width:600px) {
                padding-top: 20px;
            }
        // }

    }

    .oe_cart {
        padding-left: 70px;
        padding-right: 30px;

        @media (max-width:500px) {
            padding-left: 30px;
            padding-right: 30px;

        }

        #cart_products {
            border-spacing: 0px 2em;
            border-collapse: separate;

            thead {
                th {
                    border-color: black !important;
                    border-width: 2px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    font-family: $font-family_1;
                    font-weight: 400 !important;
                    font-size: 20px;
                }
                @media(max-width:500px){
                    display: none;
                }
            }

            tbody.desktop_cart {
                tr {
                    background-color: transparent !important;

                    td {
                        max-height: 127px;
                        min-height: 127px;

                        .css_quantity {
                            border: 2px solid black;
                            width: fit-content;
                            border-radius: 10px;
                        }

                        &:nth-child(1) {
                            display: flex;
                            align-items: center;
                            border-top: 2px solid $primary ;
                            border-bottom: 2px solid $primary;
                            border-left: 2px solid $primary;
                            padding: 20px;
                            border-top-left-radius: 17px;
                            border-bottom-left-radius: 17px;

                            @media(max-width:600px) {
                                display: none;
                            }

                            a {
                                margin-left: 10px;
                                color: black !important;

                                @media (max-width:440px) {
                                    font-size: 12px !important;

                                }
                            }
                        }

                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4) {
                            border-top: 2px solid $primary ;
                            border-bottom: 2px solid $primary;
                            padding: 20px;

                            &.td-product_name {
                                @media(max-width:600px) {
                                    padding-left: 5px;
                                    padding-right: 0px;
                                    font-size: 10px;
                                    border-left: 2px solid $primary;
                                    border-top-left-radius: 17px;
                                    border-bottom-left-radius: 17px;

                                    strong {
                                        word-break: break-all;
                                    }
                                }
                            }
                        }

                        &:nth-child(5) {
                            border-top: 2px solid $primary ;
                            border-bottom: 2px solid $primary;
                            border-right: 2px solid $primary;
                            padding: 20px;
                            border-top-right-radius: 17px;
                            border-bottom-right-radius: 17px;
                            vertical-align: middle;
                        }

                        &.td-qty {

                            .input-group-prepend,
                            .input-group-append,
                            .js_quantity {
                                height: 50px;
                                border: unset !important;
                            }

                            .input-group-prepend,
                            .input-group-append {
                                .btn {

                                    border-radius: 8px;
                                    background-color: black;
                                    color: white;
                                }



                            }
                        }
                    }
                }
            }
        }
    }

    #o_cart_summary {
        padding-right: 70px;
        padding-left: 30px;

        @media(max-width:600px) {
            padding-right: 30px;

            h4 {
                text-align: center !important;
            }
        }

        .js_cart_summary {
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 75px;

            h4 {
                display: block !important;

                @media(max-width:600px) {
                    text-align: center !important;
                }

            }

            @media(max-width:800px) {
                padding-bottom: 20px;
                margin-bottom: 50px;
            }

            border-top-left-radius: 0px;
            border-top-right-radius: 62px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 62px;

            background: #f1f9ff;

            .card-body {
                background: transparent !important;
            }
        }

        div.d-xl-none {
            display: flex;
            flex-direction: column;

        }
    }
}
