/*======================== Button Style 13 =========================*/
@if o-website-value('button-template') == 'button_style_13' {
    .te_theme_button
    {
        padding: 0.675rem 1.2rem;
        @include position(relative);
        background-color:nth($f_color,27);
        color:nth($f_color,19);
        transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
        border-left-width: 0;
        border-right-width: 0;
        border-radius: 0;
        z-index: 9;

        &.btn-secondary, &.btn-link
        {
            border-color:theme-color('secondary') !important;
            border-left:0 !important;
            border-right:0 !important;
            color:theme-color('secondary') !important;
            background-color:nth($f_color,27) !important;
            &:after
            {
                background-color: theme-color('secondary');
            }
            &:hover
            {
                color:nth($f_color,5) !important;
            }
        }
        &.btn-danger
        {
            border-color: theme-color('danger');
            color: theme-color('danger');
            &:after
            {
                background-color: theme-color('danger');
            }
        }

        &:before, &:after
        {
            content: '';
            @include position(absolute);
            transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
            z-index: -1;
        }
        &:before
        {
            top: 0;
            left: 50%;
            height: 100%;
            width: 0;
        }
        &:after
        {
            bottom: 0;
            left: 0;
            height: 0;
            width: 100%;
            background-color:nth($f_color,19);
        }
        &:hover
        {
            background-color:nth($f_color,27);
            color:nth($f_color,5);
            &:before {
                left: 0;
                width: 100%;
            }
            &:after {
                top: 0;
                height: 100%;
            }
        }
    }
}